<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Corporate</title>
		<link rel="icon" href="Pictures/webicon.png">
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	</head>
		<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
			
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Rocket Elevators?</h6>
						<p> Because you deserve the best !! </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> Regions deserved :</h6>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> Quebec City</li>
							<li><i class="fa fa-angle-right"></i> Montreal </li>
							<li><i class="fa fa-angle-right"></i> Tampa Bay (Coming Soon)</li>
							<li><i class="fa fa-angle-right"></i> Philadelphia (Comming Soon)</li>
							<li><i class="fa fa-angle-right"></i> New York (Coming Soon)</li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 418-725 Boulevard Lebourgneuf,  <br /> Québec, QC G2J 0C4, Canada</li>
							<li><b>Phone:</b> (581) 701-0303</li>
							<li><b>Email:</b> <a href="mailto:info@codebox.biz">info@codebox.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle"><!-- toggle button --></a>

		</div>
		
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- HEADER -->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<header id="topNav">

					<div class="container">

						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<a class="logo float-left" href="/index">
							<img src="<%= asset_path('R3.png')%>" alt="" />
						</a>
						
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-light">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li><a href="/index">HOME</a></li>
									<li class="dropdown nav-animate-fadeIn resp-active"><!-- SERVICES -->
									<%= link_to 'SERVICES', root_path(anchor: "services") %>
									<ul class="dropdown-menu">
										<li class="dropdown"><a href="/residential">RESIDENTIAL</a></li>
										<li class="dropdown"><a href="/corporate">CORPORATE & COMMERCIAL</a></li>
										<li class="dropdown"><a href="/quote">GET A QUOTE</a></li>
									</ul>
									</li>
									<li><%= link_to 'PORTFOLIO', root_path(anchor: "portfolio"), 'data-turbolinks': false %></li>
									<li><%= link_to 'NEWS', root_path(anchor: "news"), 'data-turbolinks': false %></li>
									<li><%= link_to 'CLIENTS', root_path(anchor: "clients"), 'data-turbolinks': false %></li>
									<li><%= link_to 'CONTACT', root_path(anchor: "contact"), 'data-turbolinks': false %></li>
									<li><a href="/intervention">INTERVENTIONS</a></li>
									<% if current_admin_user%>
										<li><%= link_to 'LOGOUT', destroy_admin_user_session_path, method: :delete %></li>
										<% if current_admin_user.admin?%>
										<li><a href="/admin">BACKOFFICE</a></li>
										<% end %>
									<% else %>
										<li><%= link_to 'SIGNUP', new_admin_user_registration_path%></li>								
										<li><%= link_to 'LOGIN', new_admin_user_session_path%></li>								
									<% end %>													
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

			<!-- Overview -->
			<section id="overview">
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-8">
							<img class="img-fluid" src="<%= asset_path('AdobeStock_66781279.jpeg')%>" width="700" alt="product image" />
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300"><span>COMMERCIAL PRODUCTS</span></h3>
						
							<p>Everyone should be able to move freely in public places. Commercial elevators and wheelchair lifts can help ensure that all visitors to places of worship, schools, office buildings, medical and dental care clinics, cultural and recreational centres and more have the freedom to access all levels of these buildings.</p>
							
						</div>
					</div>
					<br>
					<hr>
					<br>
					<div class="row text-left">

						
						<div class="col-sm-4">
							<h3 class="fw-300"><span>SKY'S THE LIMIT !!!</span></h3>
						
							<p>Your dreams are the only limit for your projects, feel free to talk with us about your needs and our engineers team will do the rest !</p>				
							
						</div>
						
						<div class="col-sm-8">
							<img class="img-fluid" src="<%= asset_path('AdobeStock_162479912.jpeg')%>" width="700" alt="product image" />
						</div> 

					</div>
					


				</div>
			</section>

			<a href="/quote" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 external">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong> GET A QUOTE !! &raquo;</strong>
				</span>
			</a>
		
		<div id="wrapper2">
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="m-0">The Consultative Selling Framework</h2>
						<hr>
						<p class="font-lato fs-20 m-0">The Consultative Selling Framework provides sellers with a consistent, repeatable process to more effectively execute their sales conversations.</p>
					</header>
					
					<div class="divider divider-center"><!-- divider -->
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps nav nav-tabs nav-justified mt-100">
						<li class="nav-item active">
							<a class="nav-link" href="#step1" data-toggle="tab">1</a>
							<h5>Prepare</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step2" data-toggle="tab">2</a>
							<h5>Connect</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step3" data-toggle="tab">3</a>
							<h5>Understand</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step4" data-toggle="tab">4</a>
							<h5>Recommend</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step5" data-toggle="tab">5</a>
							<h5>Commit</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step6" data-toggle="tab">6</a>
							<h5>Act</h5>
						</li>
					</ul>

					<div class="tab-content mt-30">
						<div class="tab-pane active" id="step1">
							Effective call planning leads to more productive customer meetings, increased credibility, a shortened sales cycle, and increased sales results. Using an efficient methodology for call planning helps ensure that each customer call advances the sale.
						</div>

						<div class="tab-pane" id="step2">
							The connect phase of the sales call opens the meeting, creates an impression, and sets the tone. A strong opening helps build credibility.
						</div>

						<div class="tab-pane" id="step3">
							Understanding is at the heart of consultative selling. Sales professionals need to connect with customers, gain and keep their openness and willingness to engage in a dialogue, and ask a full range of questions.
						</div>

						<div class="tab-pane" id="step4">
							The way a sales professional positions a specific solution can make it easy or difficult for the customer to understand. It can also make the sales professional sound compelling or boring. To be persuasive, sales professionals need to describe capabilities and solutions using clear, concise, and compelling messaging that links value to customer needs.
						</div>

						<div class="tab-pane" id="step5">
							Treating closing like a process lowers the risk of rejection and increases the likelihood of gaining commitment and winning the business.
						</div>

						<div class="tab-pane" id="step6">
							Flawless follow-up with the customer is one of the fastest ways sales professionals can build credibility and differentiate themselves because many sales professionals are not strong in following up. Internal reflection and action planning after the call is necessary to ensure that each customer interaction is fully leveraged in order to learn and plan an appropriate action to win.
						</div>
					</div>

				</div>
			</section>

			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('/assets/AdobeStock_162479912.jpeg')">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container text-center">

					<h2 class="font-raleway mb-10">
						<span class="countTo" data-speed="3000">406</span> clients
					</h2>

					<h3 class="fs-25">They're <span>satisfied</span>. We're <span>happy</span>!</h3>

				</div>

			</section>
			<!-- /PARALLAX -->

			<section>
				<div class="container">
				
					<div class="row">

						<div class="col-md-6 col-sm-6">
							<header class="mb-60">
								<h2 class="m-0">Commercial Division Type</h2>
								<p class="font-lato fs-20 m-0">We work on many project type</p>
							</header>

							<p>Through all these years, we had many great opportunities to work with great entrepreneur from all commercial divisions :</p>

							<a href="/quote">

								<!-- /word rotator -->
								<span class="fs-16" data-delay="2000">
									<span class="items">
										<span>GET A QUOTE !</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>
						</div>

						<div class="col-md-6 col-sm-6">
							<p class="fs-16">Number of clients on each divisions :</p>
							<canvas class="chartjs" id="barChartCanvas" width="547" height="300"></canvas>
						</div>

					</div>

				</div>

			</section>

		</div>


			<!-- /Overview -->

			<a href="/quote" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 external">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong> GET A QUOTE !! &raquo;</strong>
				</span>
			</a>
			
			<!-- FOOTER -->
			<footer id="footer" style="background-image: url('/assets/particles_bg.jpg')">

				<div class="container" >@import bootstrap-sprockets 

					<div class="row">

						<!-- col #1 -->
						<div class="col-md-6">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								Because we're simply the best !
							</p>
							
							<h2>(581) 701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-6">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-blue" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li>Terms &amp; Conditions</li>
							<li>&bull;</li>
							<li>Privacy</li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

			</footer>	

		</div>
		<!-- /wrapper -->

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PAGE LEVEL SCRIPTS [cart js] -->
		<script>
			jQuery(window).on('load', function() {
				loadScript('assets/Chart.min.js', function() {

					var barChartCanvas = {
						labels:["Office","Education","Lodging","Healthcare","Service","Others"],
						datasets:[
							{
								fillColor : "#1980B620",
								strokeColor : "rgba(220,220,220,0.8)",
								highlightFill: "#bb102420",
								highlightStroke: "rgba(220,220,220,1)",
								data : [65,59,90,81,56,55]
							}
						]
					};

					var ctx = document.getElementById("barChartCanvas").getContext("2d");
					new Chart(ctx).Bar(barChartCanvas);

				});

			});
		</script>
	</body>
</html>