<!DOCTYPE html>
<html lang="en">
	<head>
		<meta property="og:image" content="Pictures\M.jpg" />
		<meta property="og:description" content="Best elevator compagny !" />
		<meta property="og:url"content="http://wjacques.tech" />
		<meta property="og:title" content="Rocket Elevator" />
		<meta charset="utf-8" />
		<title>Rocket Elevators - Homepage</title>
		<%= favicon_link_tag 'webicon.png' %>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		
		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	</head>
		<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
			
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Rocket Elevators?</h6>
						<p> Because you deserve the best !! </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> Regions deserved :</h6>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> Quebec City</li>
							<li><i class="fa fa-angle-right"></i> Montreal </li>
							<li><i class="fa fa-angle-right"></i> Tampa Bay (Coming Soon)</li>
							<li><i class="fa fa-angle-right"></i> Philadelphia (Comming Soon)</li>
							<li><i class="fa fa-angle-right"></i> New York (Coming Soon)</li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 418-725 Boulevard Lebourgneuf,  <br /> Québec, QC G2J 0C4, Canada</li>
							<li><b>Phone:</b> (581) 701-0303</li>
							<li><b>Email:</b> <a href="mailto:info@codebox.biz">info@codebox.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle"><!-- toggle button --></a>

		</div>
		
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- HEADER -->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<header id="topNav">

					<div class="container">

						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<a class="logo float-left" href="#top">
							<img src="<%= asset_path('R2.png')%>" alt="" />
						</a>
						
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-light">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li><a href="/#top">HOME</a></li>
									<li >
										<a class="dropdown-toggle">
											SERVICES
										</a>
										<ul class="dropdown-menu" style=white-space:nowrap;>
											<li class="dropdown"><a href="/#services">SERVICES</a></li>
											<li class="dropdown"><a href="/residential">RESIDENTIAL</a></li>
											<li class="dropdown"><a href="/corporate">CORPORATE & COMMERCIAL</a></li>
											<li class="dropdown"><a href="/quote">GET A QUOTE</a></li>
										</ul>
									</li>
									<li><a href="/#portfolio">PORTFOLIO</a></li>
									<li><a href="/#news">NEWS</a></li>
									<li><a href="/#clients">CLIENTS</a></li>
									<li><a href="/#contact">CONTACT</a></li>
									<li><a href="/intervention">INTERVENTIONS</a></li>
									<% if current_admin_user%>
										<li><%= link_to 'LOGOUT', destroy_admin_user_session_path, method: :delete %></li>
										<% if current_admin_user.admin?%>
										<li><a href="/admin">BACKOFFICE</a></li>
										<% end %>
									<% else %>
										<li><%= link_to 'SIGNUP', new_admin_user_registration_path%></li>								
										<li><%= link_to 'LOGIN', new_admin_user_session_path%></li>								
									<% end %>													
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="slide overlay to right" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"  data-title="Slogan">
							<!-- MAIN IMAGE -->
							<img src="<%= asset_path('AdobeStock_122227340.jpeg')%>"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
							
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									With Rocket Elevators :<br> 
									<hr>
									Sky's the limit !
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-block" style= "font-size:16px;display: table-cell; vertical-align: middle" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-block" style= "font-size:16px;display: table-cell; vertical-align: middle" href="/quotes/new">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="slide overlay to right" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
							<img src="<%= asset_path('AdobeStock_72034307.jpeg')%>" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									We offer you:<br>
									Residential Services
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Great solution for wheelchair user ! ...Or laziness...
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-block" style= "font-size:16px;display: table-cell; vertical-align: middle" href="/residential">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="slide overlay to right" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Corporate">
							<!-- MAIN IMAGE -->
							<img src="<%= asset_path('AdobeStock_66781279.jpeg')%>" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								And also: <br />
								Corporate Services
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Because time is money and you don't want sweaty workers !
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto">
									<a class="btn btn-red btn-block" style= "font-size:16px;display: table-cell; vertical-align: middle" href="/corporative">CORPORATE SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->

			<hr class="m-0" /><!-- 1px line separator -->

			<!-- BUTTON CALLOUT -->
			<a href="/quotes/new" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 external">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong> GET A QUOTE !! </strong>
				</span>
			</a>
			<!-- BUTTON CALLOUT -->
			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<img class="img-fluid" src="<%= asset_path('award.jpg')%>" alt="img" />
							<h3 class="mt-10">Awards and Realizations</h3>
							<p> Through all these years, our company has won many awards and participated in many major projects...</p>
							<a href="#portfolio" class="btn btn-default">Learn More...</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="<%= asset_path('319779850_residential.jpg')%>" alt="img" />
							<h3 class="mt-10">Residential Services</h3>
							<p>We offer great quality products for residential uses. Let us rise your property value ! Click the button for more information.<p>
							<a href="/residential" class="btn btn-default">Learn More...</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="<%= asset_path('AdobeStock_146216308.jpeg')%>" alt="img" />
							<h3 class="mt-10">Corporate Services</h3>
							<p>We are your solution for your corporate buildings. Click the button for more information.</p>
							<a href="/corporative" class="btn btn-default">Learn More...</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('/assets/AdobeStock_162479912.jpeg')">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Elevator Expert Since 1976</h2>
						<a class="btn btn-red btn-3d" href="/quotes/new">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-red btn-3d" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a>All</a></li>
							<li data-filter="awards" class="filter"><a>Awards</a></li>
							<li data-filter="residential" class="filter"><a>Residential</a></li>
							<li data-filter="corporative" class="filter"><a>Corporative</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<%= image_tag("matrix.jpg", :alt => "MrSmith_Tower", :class => "img-fluid", :width =>"600", :height =>"399") %>
									</figure>

									<div class="item-box-desc">
										<h3>Sydney</h3>
										<ul class="list-inline categories m-0">
											<li>Mr.Smith Tower</li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('Nakatomi_Plaza.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Los Angeles</h3>
										<ul class="list-inline categories m-0">
											<li><a>Nakatomi Plaza</a></li>
											<li><a>for your christmas party</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('starktower.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>New York</h3>
										<ul class="list-inline categories m-0">
											<li><a>Stark Tower</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('Wayne_Enterprises.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Gotham City</h3>
										<ul class="list-inline categories m-0">
											<li><a>Wayne Tower</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('bifftannen.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Hill Valley</h3>
										<ul class="list-inline categories m-0">
											<li><a>Biff Tannen's Pleasure Paradise</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('cubeselevator.png')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Vancouver</h3>
										<ul class="list-inline categories m-0">
											<li><a>Cubic elevator</a></li>
											<li><a>for creature releasing</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('shinning.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Colorado</h3>
										<ul class="list-inline categories m-0">
											<li><a>The Overlook</a></li>
											<li><a>Great place to be alone with your family.</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix corporative"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('Roosevelt-Hotel.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>New York</h3>
										<ul class="list-inline categories m-0">
											<li><a>The Roosevelt Hotel</a></li>
											<li><a>to access room #1408</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('nobel.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Nobel Prize</h3>
										<ul class="list-inline categories m-0">
											<li><a>Physics Laureate in 2019 for PVector() comprehension.</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('Blue_Ribbon_logo.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>The Blue Ribbon Prize For Quality</h3>
										<ul class="list-inline categories m-0">
											<li><a>For no elevator crashes over 10 years.</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('nightbird_award.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Night Bird Award</h3>
										<ul class="list-inline categories m-0">
											<li><a>For having a night shift over 20 years.</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<img class="img-fluid" src="<%= asset_path('treize.jpg')%>" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Unbreakable Glass Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a>Cyrus Kriticos's house</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

						</div>

				</div>
			</section>
			<!-- /PORTFOLIO -->

			<!-- Employees -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel1 text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="<%= asset_path('Mathieu Lortie.JPG')%>" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Our Leader :</p>
								<cite>
									Mathieu Lortie
									<span>Rocket Elevator CEO</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="<%= asset_path('William_jacques.jpg')%>" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Our best one :</p>
								<cite>
									William Jacques
									<span>Employee of the month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Employees -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<div class="owl-carousel2 owl-padding-10 buttons-autohide controlls-over">
						<div class="img-hover">
							<a href="https://scientect.com/news/1225888/global-elevator-and-escalator-market-to-register-explosive-growth-detailed-analysis-size-share-strategies-demand-analysis-and-projected-huge-growth-by-2026/" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news1.jpg')%>" alt="" width="600">
							</a>

							<h4 class="text-left mt-20"><a href="https://scientect.com/news/1225888/global-elevator-and-escalator-market-to-register-explosive-growth-detailed-analysis-size-share-strategies-demand-analysis-and-projected-huge-growth-by-2026/" target="_blank">Global Elevator and Escalator Market To Register Explosive Growth</a></h4>
							<p class="text-left">Elevator and Escalator Industry Market report 2020, discourses numerous driving factors or restraining the market, which will help the future market to raise with a huge CAGR. </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									3rd Sept 2020
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.fool.com/millionacres/real-estate-market/articles/home-elevator-worth-the-investment/" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news2.jpg')%>" alt="" width="600">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.fool.com/millionacres/real-estate-market/articles/home-elevator-worth-the-investment/" target="_blank">Home Elevator: Worth the Investment?</a></h4>
							<p class="text-left">According to the U.S. Census Bureau, there are 49.2 million Americans who are age 65 or older. Another report indicated that there were 15.7 million Americans in that age group with a disability, with over 10 million having difficulty walking. For these individuals, an elevator in the home would change their lives, allowing them to age in place.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									27th Aug 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://patch.com/maryland/bethesda-chevychase/5m-circa-1930-tudor-chevy-chase-has-elevator-gym" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news3.jpg')%>" alt="" width="600">
							</a>

							<h4 class="text-left mt-20"><a href="https://patch.com/maryland/bethesda-chevychase/5m-circa-1930-tudor-chevy-chase-has-elevator-gym" target="_blank">This $5M, Circa-1930 Tudor In Chevy Chase Has An Elevator, Gym</a></h4>
							<p class="text-left">Built in 1930, this gorgeous Chevy Chase home boasts a main floor study, a master suite with a sitting area, a screened-in porch, and more.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									2nd Sept 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.businesswire.com/news/home/20200828005306/en/United-States-Elevator-Escalator-Market-Analysis-2020-2024" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news4.jpg')%>" alt="" width="600">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.businesswire.com/news/home/20200828005306/en/United-States-Elevator-Escalator-Market-Analysis-2020-2024" target="_blank">United States Elevator and Escalator Market Analysis 2020-2024: Demand for Modernization is Driving Growth in the Market</a></h4>
							<p class="text-left">The elevator and escalator market in the US is poised to grow by $ 876.82 mn during 2020-2024 progressing at a CAGR of 3% during the forecast period. This report offers an up-to-date analysis regarding the current US market scenario, latest trends and drivers, and the overall market environment. The market is driven by the changing demographics and increasing adoption of smart homes.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									28th Aug 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.sudbury.com/local-news/essential-worker-of-the-day-elevator-worker-eric-lebreton-2617242" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news5.jpg')%>" alt="" width="600">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.sudbury.com/local-news/essential-worker-of-the-day-elevator-worker-eric-lebreton-2617242" target="_blank">Essential Worker of the Day: Elevator worker Eric LeBreton</a></h4>
							<p class="text-left">Sudbury.com is recognizing Eric LeBreton as today's Essential Worker of the Day.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									8th Aug 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://scientect.com/uncategorized/1193645/elevator-components-market-trends-and-segments-by-2019-to-2029/" target="_blank">
								<img class="img-fluid" src="<%= asset_path('news6.jpg')%>" alt="" width="600">
							</a>
							<h4 class="text-left mt-20"><a href="https://scientect.com/uncategorized/1193645/elevator-components-market-trends-and-segments-by-2019-to-2029/" target="_blank">Elevator Components Market Trends and Segments by 2019 to 2029</a></h4>
							<p class="text-left">The study on the Elevator Components Market Research offers a profound comprehension of the market dynamics like opportunities, drivers, trends, and the challenges. The analysis further elaborates on the micro and macro-economic aspects which can be predicted to shape the rise of the Elevator Components Market throughout the forecast period (2019-2029).</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									2nd Sept 2020
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->




			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('waynelogo.jpg')%>" alt="Wayne Enterprises" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('starklogo.jpg')%>" alt="Stark" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('cyberdynelogo.jpg')%>" alt="Cyberdyne" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('Umbrellacorpt1.jpg')%>" alt="Umbrella" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('jurassiclogo.jpg')%>" alt="Jurassic Park" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('monsterlogo.jpg')%>" alt="Monster Inc." width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('Zorglogo.jpg')%>" alt="Zorg" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('bifflogo.jpg')%>" alt="Biff Tannen" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('rekalllogo.jpg')%>" alt="Rekall" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('robocoplogo.jpg')%>" alt="Robocop" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('Bubba_Gump_logo.jpg')%>" alt="Bubba Gump" width="200"/>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="<%= asset_path('WeylandLogo.jpg')%>" alt="Weyland" width="200"/>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->

			<a href="/quotes/new" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 external">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong> GET A QUOTE !! </strong>
				</span>
			</a>

			
			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Our 24/7 tech support specialists will get back to you instantly</p>
						<hr />
					</header>

					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8 recaptchaForm">

							<h3>Fill out this form if you have any <strong><em>questions</em></strong> or <strong><em>concerns</em></strong>.</h3>

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->

							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->

							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->

							<form id="contact-form" method="post" action="contact/create" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-6">
												<label for="contact-name">Contact Full Name *</label>
												<input required type="text" value="" class="form-control" name="leads[contact_full_name]" id="contact-name">
											</div>
											<div class="col-md-6">
												<label for="contact-business">Contact Business Name *</label>
												<input required type="text" value="" class="form-control" name="leads[company_name]" id="contact-business">
											</div>
									</div>
									<div class="row">
											<div class="col-md-6">
												<label for="contact-email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="leads[email]" id="contact-email">
											</div>
											<div class="col-md-6">
												<label for="contact-phone">Phone Number *</label>
												<input required type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="514-222-2222" class="form-control" name="leads[phone]" id="contact-phone">
											</div>
									</div>
									<div class="row">
											<div class="col-md-8">
												<label for="contact-project-name">Project Name * </label>
												<input required type="text" value="" class="form-control" name="leads[project_name]" id="contact-project-name">
											</div>
											<div class="col-md-4">
												<label for="contact-department">Department *</label>
												<select required class="form-control pointer" name="leads[department]">
													<option value="">--- Select ---</option>
													<option value="Residential">Residential</option>
													<option value="Corporate">Corporate</option>
													<option value="Commercial">Commercial</option>
													<option value="Hybrid">Hybrid</option>
												</select>
											</div>
									</div>
																		
									<div class="row">
										<div class="col-md-12">
											<label for="contact-description">Project Description * </label>
											<textarea required maxlength="10000" rows="8" class="form-control" name="leads[project_description]" id="contact-description"></textarea>
										</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact-message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="leads[message]" id="contact-message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact-attachment">File Attachment *</label>

												<!-- custom file upload -->
												<input required class="custom-file-upload" type="file" id="file" name="leads[attached_file]" id="contact-attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb</small>

											</div>
									</div>

								</fieldset>
								<div class="g-recaptcha" data-sitekey=6LcvH-UZAAAAAEHtUvD_6Af4pWq5ANag1CMiGLUh></div>
								<br/>
								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->

						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<div id="map2" class="h-400">
								<iframe width="589" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=589&amp;height=400&amp;hl=en&amp;q=4468%20Wellington%20St,%20Verdun,%20Quebec%20H4G%201W5%20Montreal+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
							</div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(581) 701-0303</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">info@rocketelevators.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->


			<!-- FOOTER -->

			<footer id="footer" style="background-image: url('/assets/particles_bg.jpg')">

				<div class="container" >

					<div class="row">

						<!-- col #1 -->
						<div class="col-md-6">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								Because we're simply the best !
							</p>
							
							<h2>(581) 701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-6">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-blue" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li>Terms &amp; Conditions</li>
							<li>&bull;</li>
							<li>Privacy</li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

			</footer>

		</div>
		<!-- /wrapper -->

		<script>
		$(document).ready(function(){
			$('.owl-carousel1').owlCarousel({
				items: 1,
				loop: false,
				center: true,
				nav: true,
				autoHeight: true,
				autoWidth: true,
				margin: 10,
			});
  			$('.owl-carousel2').owlCarousel({
				items: 2,
				loop: true,
				nav: true,
				autoHeight: true,
				progressBar: true,
				margin: 10,
				
			});
			
		});
		</script>
		

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
		
	</body>
</html>