<!DOCTYPE html>
<html lang="en">
	<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-NJG62J6');</script>
	<!-- End Google Tag Manager -->
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Intervention</title>
		<link rel="icon" href="Pictures/webicon.png">
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />


		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	</head>
		<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
			
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Rocket Elevators?</h6>
						<p> Because you deserve the best !! </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> Regions deserved :</h6>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> Quebec City</li>
							<li><i class="fa fa-angle-right"></i> Montreal </li>
							<li><i class="fa fa-angle-right"></i> Tampa Bay (Coming Soon)</li>
							<li><i class="fa fa-angle-right"></i> Philadelphia (Comming Soon)</li>
							<li><i class="fa fa-angle-right"></i> New York (Coming Soon)</li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 418-725 Boulevard Lebourgneuf,  <br /> Québec, QC G2J 0C4, Canada</li>
							<li><b>Phone:</b> (581) 701-0303</li>
							<li><b>Email:</b> <a href="mailto:info@codebox.biz">info@codebox.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle"><!-- toggle button --></a>

		</div>
		
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- HEADER -->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<header id="topNav">

					<div class="container">

						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<a class="logo float-left" href="/index">
							<img src="<%= asset_path('R3.png')%>" alt="" />
						</a>
						
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-light">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li><a href="/index">HOME</a></li>
									<li class="dropdown nav-animate-fadeIn resp-active"><!-- SERVICES -->
									<%= link_to 'SERVICES', root_path(anchor: "services") %>
									<ul class="dropdown-menu">
										<li class="dropdown"><a href="/residential">RESIDENTIAL</a></li>
										<li class="dropdown"><a href="/corporate">CORPORATE & COMMERCIAL</a></li>
										<li class="dropdown"><a href="/quote">GET A QUOTE</a></li>
									</ul>
									</li>
									<li><%= link_to 'PORTFOLIO', root_path(anchor: "portfolio"), 'data-turbolinks': false %></li>
									<li><%= link_to 'NEWS', root_path(anchor: "news"), 'data-turbolinks': false %></li>
									<li><%= link_to 'CLIENTS', root_path(anchor: "clients"), 'data-turbolinks': false %></li>
									<li><%= link_to 'CONTACT', root_path(anchor: "contact"), 'data-turbolinks': false %></li>
									<li><a href="/intervention">INTERVENTIONS</a></li>
									<% if current_admin_user%>
										<li><%= link_to 'LOGOUT', destroy_admin_user_session_path, method: :delete %></li>
										<% if current_admin_user.admin?%>
										<li><a href="/admin">BACKOFFICE</a></li>
										<% end %>
									<% else %>
										<li><%= link_to 'SIGNUP', new_admin_user_registration_path%></li>								
										<li><%= link_to 'LOGIN', new_admin_user_session_path%></li>								
									<% end %>													
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

			<!-- Overview -->
				<div class="container text-center">

					<div class="container text-center">

						<p></p>

						<h3 class="fw-600"><span>NEW INTERVENTION FORM</span></h3>
						
						<p>Please enter your informations.</p>

						<hr>
							
					</div>

				</div>
			<!-- /Overview -->
			<!-- PRICE CALCULATOR -->
			<div class="container pt-30 pb-30" id="elevator-calculator">
				<div class="row">
					<div class="col-md-8">
						<%= form_with(model: intervention, local: true) do |f| %>
							<% if intervention.errors.any? %>
								<div id="error_explanation">
								<h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

								<ul>
								<% intervention.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
								</ul>
								</div>
							<% end %>
							<%= f.hidden_field :author, value: current_admin_user.id %>
							<div class="table-responsive p-20 fs-16">
								<table class="table table-bordered table-vertical-middle">
									<tbody>
										<tr>
											<td><%= f.label :customer_id, "Company Name" %></td>
											<td><%= f.select(:customer_id, Customer.all.collect {|p| [p.company_name, p.id]},  {prompt: "Select"}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><%= f.label :building_id, "Building Address" %></td>
											<td><%= f.select(:building_id, Building.all.collect {|t| [t.address_of_the_building, t.id]}, {}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><%= f.label :battery_id, "Battery ID" %></td>
											<td><%= f.select(:battery_id, Battery.all.collect {|b| [b.id, b.id]}, {}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><%= f.label :column_id, "Column Column" %></td>
											<td><%= f.select(:column_id, Column.all.collect {|build| [build.id, build.id]}, {}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><%= f.label :elevator_id, "Elevator ID" %></td>
											<td><%= f.select(:elevator_id, Elevator.all.collect {|e| [e.id, e.id]}, {}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><%= f.label :employee_id, "Employee Name" %></td>
											<td><%= f.select(:employee_id, Employee.all.collect {|em| [em.display_name, em.id]}, {prompt: "Select"}, {class: 'form-control'}) %></td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td><label class="fs-16">Description</label></td>
											<td><%= f.text_area :report, :type => 'text', :size => "60x8"%></td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<div class="actions">
								<% f.submit %>
								<button type="submit" class="btn btn-red">SUBMIT</button>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<!-- PRICE CALCULATOR -->


			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								It's real simple: we're at the forefront of elevator technology and we always make it work. 
							</p>
							<h2>(581) 701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->

						</div>
						<!-- /col #2 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, RocketElevators&trade;
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->


		</div>
		<!-- /wrapper -->

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
		<script>
		$("#intervention_building_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
		$("#intervention_battery_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
		$("#intervention_column_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty
		$("#intervention_elevator_id").prop("hidden", true); // second dropdown is disable while first dropdown is empty

		$("#intervention_customer_id").change(function(){
			var customer = $(this).val();
			if(customer == ''){
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", true);
				$("#intervention_battery_id").prop("hidden", true);
				$("#intervention_building_id").prop("hidden", true);
			}else{
				$("#intervention_building_id").prop("hidden", false);				
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", true);
				$("#intervention_battery_id").prop("hidden", true);
			}
			$.ajax({
				url: "/building",
				type: "GET",  
				dataType: "json",
				data: {customer: customer},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ' + status + error);
				},
				success: function (response) {
					console.log(response);
					var buildings = response["buildings"];
					$("#intervention_building_id").empty();

					$("#intervention_building_id").append('<option value="">Select Building</option>');
					for(var i = 0; i < buildings.length; i++){
						$("#intervention_building_id").append('<option value="' + buildings[i]["id"] + '">' +buildings[i]["address_of_the_building"] + '</option>');
					}
				}
			});
		});
		$("#intervention_building_id").change(function(){
			var building = $(this).val();
			if(building == ''){
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", true);
				$("#intervention_battery_id").prop("hidden", true);
			}else{
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", true);
				$("#intervention_battery_id").prop("hidden", false);
			}
			$.ajax({
				url: "/battery",
				type: "GET",  
				dataType: "json",
				data: {building: building},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ' + status + error);
				},
				success: function (response) {
					console.log(response);
					var batteries = response["batteries"];
					$("#intervention_battery_id").empty();

					$("#intervention_battery_id").append('<option value="">Select Battery</option>');
					for(var i = 0; i < batteries.length; i++){
						$("#intervention_battery_id").append('<option value="' + batteries[i]["id"] + '">' +batteries[i]["id"] + '</option>');
					}
				}
			});
		});
		$("#intervention_battery_id").change(function(){
			var battery = $(this).val();
			if(battery == ''){
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", true);
			}else{
				$("#intervention_elevator_id").prop("hidden", true);
				$("#intervention_column_id").prop("hidden", false);
			}
			$.ajax({
				url: "/column",
				type: "GET",  
				dataType: "json",
				data: {battery: battery},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ' + status + error);
				},
				success: function (response) {
					console.log(response);
					var columns = response["columns"];
					$("#intervention_column_id").empty();

					$("#intervention_column_id").append('<option value="">None</option>');
					for(var i = 0; i < columns.length; i++){
						$("#intervention_column_id").append('<option value="' + columns[i]["id"] + '">' +columns[i]["id"] + '</option>');
					}
				}
			});
		});
		$("#intervention_column_id").change(function(){
			var column = $(this).val();
			if(column == ''){
				$("#intervention_elevator_id").prop("hidden", true);
			}else{
				$("#intervention_elevator_id").prop("hidden", false);
			}
			$.ajax({
				url: "/elevator",
				type: "GET",  
				dataType: "json",
				data: {column: column},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ' + status + error);
				},
				success: function (response) {
					console.log(response);
					var elevators = response["elevators"];
					$("#intervention_elevator_id").empty();

					$("#intervention_elevator_id").append('<option value="">None</option>');
					for(var i = 0; i < elevators.length; i++){
						$("#intervention_elevator_id").append('<option value="' + elevators[i]["id"] + '">' +elevators[i]["id"] + '</option>');
					}
				}
			});
		});
		</script>
	</body>
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJG62J6"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</html>