<title>Customer Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
       
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_api_key']}&callback=initMap&libraries=&v=weekly", defer: 'defer' %>
    <%= javascript_include_tag "https://rawgit.com/kswedberg/jquery-smooth-scroll/master/jquery.smooth-scroll.js"%>
    <%= javascript_include_tag "https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"%>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #testmapper {
        height: 550px;
        width: 60%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100px;
        margin: 10px;
      }
    </style>
    <script>

      var locations_from_bd = [];  // Lat & Lng x
      var address_place = [];      // Location of customer x
      var client_name = [];        // Name of client x
      var nb_of_floors = [];       // Number of Floor x
      var nb_of_batt = [];         // Number of batteries  x
      var nb_of_coll = [];         // Number of Column x
      var nb_of_elev = [];         // Number of elevator x
      var tech_contact = [];       // Name of technical contact x
      var entity_of_address = [];  // Entity of address (Customer or building) x
      var addressLat = [];

      <% Building.all.each do |building| %>
        address_place.push({address_place: '<%= building.address.number_and_street %>'})                                   // Get address streets and number in an array (Location of Building)
        locations_from_bd.push({lat: <%= building.address.latitude%>, lng: <%=building.address.longitude %>  })            // Get location in Lat and Lng in an array
        client_name.push({client_name: '<%= building.full_name_of_the_technical_contact_for_the_building %>'})             // Get Client name of building
        tech_contact.push({tech_contact: "<%= building.full_name_of_the_building_administrator%>"})                        // Get Tech support of building
        nb_of_floors.push({nb_of_floors: "<%= building.how_many_floors%>"})
        nb_of_batt.push({nb_of_batt: <%= building.batteries.size %>})  
        nb_of_coll.push({nb_of_coll: <%= building.how_many_columns  %>})
        nb_of_elev.push({nb_of_elev: <%= building.how_many_elevators %>})
      <% end %>



      let map;
      let lat = locations_from_bd[50].lat;
      let lng = locations_from_bd[50].lng;

      function initMap() {
        const infowindow = new google.maps.InfoWindow();
        map = new google.maps.Map(document.getElementById("testmapper"), {
          center: {lat, lng},
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker, i;
        for (i = 0; i < locations_from_bd.length; i++) {
            marker = new google.maps.Marker({
            position : new google.maps.LatLng(locations_from_bd[i].lat, locations_from_bd[i].lng),
            map : map
          });
          
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(
              '<div id="infowindow">' + 
              "</div>" +
              '<h3>Customer info: </h3>' +
              '<p>__________________________</p>' +
              '<div id="bodyContent">' +
              '<p><b>Name of customer: </b>'+ client_name[i].client_name + '</p>' +
              '<p><b>Address: </b>' + address_place[i].address_place +'</p>' +
              '<p><b>Technician contact: </b>'+ tech_contact[i].tech_contact + '</p>' +
              '<p><b>Number of floors: </b>'+ nb_of_floors[i].nb_of_floors + '</p>' +
              '<p><b>Number of batteries: </b>'+ nb_of_batt[i].nb_of_batt + '</p>' +
              '<p><b>Number of columns: </b>'+ nb_of_coll[i].nb_of_coll + '</p>' +
              '<p><b>Number of elevators: </b>'+ nb_of_elev[i].nb_of_elev + '</p>' +
              "</div>");
              infowindow.open(map, marker);
          }
          })(marker, i));
        }
      }    
    </script>
<body>
    <h1>Customer Map</h1>
    <div id="testmapper"></div>
</body>